fastapi
uvicorn[standard]
pydantic
requests
aiohttp
beautifulsoup4
lxml
python-dotenv

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-chroma
langchain-huggingface

chromadb
sentence-transformers
tqdm
groq
pypdf
python-multipart
